DEV_NAME=wpdocker
DEV_DOMAIN=wpdocker.dev
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=wpdocker
MYSQL_USER=wpdocker_user
MYSQL_PASSWORD=wpdocker_pass
WORDPRESS_TABLE_PREFIX=abc12_
WORDPRESS_SITE_TITLE=WP-Docker Test Site
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASS=letmein123
WORDPRESS_ADMIN_EMAIL=admin@wpdocker.dev
